server:
  port: 8080

spring:
  application:
    name: llm-spring-ai
  ai:
    openai:
      base-url: https://ollama.com
      api-key: ${OLLAMA_API_KEY}
      chat:
        options:
          model: gemma3:12b
          temperature: 0.7

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
